*{box-sizing: border-box; margin: 0}

body{
    background-image: url(images/image-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media(max-width: 380px) {
    body {
      flex-direction: row;
      background-image: url(images/image-1.jpg);
    }
  }

form{
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    margin: auto;
    border: 1px solid black;
    box-shadow: 5px 10px 15px black;
}

form > div{
    margin: 0 5px 0 5px;
}

form > div:first-child{
    margin-top: 5px;
}

#my-form{
    display: none;
}