*{box-sizing: border-box; margin: 0}

body{
    background-image: url(images/image-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#form-div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

form{
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    margin: auto;
    border: 1px solid black;
    box-shadow: 5px 10px 15px black;
}

form > div{
    margin: 0px 5px 0px 5px;
}

form > div:first-child{
    margin-top: 5px;
}

#my-form{
    display: none;
}

.div-label{
    width: 60%;
}

#sick, #travel-expenses{
    width: 40%;
    float: right;
}

header{
    width: 60%;
    margin: auto;
    padding-bottom: 3rem;
    text-align: center;
}

header > h1{
    width: 150px;
    margin: auto;
    border-bottom: 1px solid black;
    color: red;
}

@media(max-height: 380px) {
    body {
        height: 100%;
    }
    header{
        padding: 3rem 0 3rem 0;
    }
  }

@media(max-width: 380px){
    header{
        padding: 0px;
    }
    #form-div{
        height: 90%;
    }
}

@media(min-width: 700px){
    body {
        height: 100%;
    }
}

@media(max-width: 285px){
    #sick, #travel-expenses{
        width: 40%;
        float: none;
    }
}